@import "styles.scss";

body {

    background-color: black;
    color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
}



.instagram-div {
    justify-content: start;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


@media (max-width: 600px) {
    .instagram-media {
        width: 200px;
    }

}