* {
}

.main-section {
  justify-content: center;
  width: 50%;
  text-align: center;
  margin: auto;
}

.section {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "text img"
    "text img";

  margin-bottom: 10px;
}
.section-img-div {
  grid-area: img;
  display: flex;
  flex-direction: column;
}

.section-img {
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 800px) {
  .section {
    grid-template-areas:
      "text text"
      "img img";
  }
}

.section-text {
  grid-area: text;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
