@import "styles.scss";

body {
  background: linear-gradient(
    0deg,
    rgb(155, 154, 154) 0%,
    rgb(255, 255, 255) 100%
  );
  margin: 0;
  font-family: "Merriweather", serif;
  color: black;
  user-select: none;
}

/* Typeography General*/
h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 3em;
  margin: 2em 1rem;
  text-align: center;
}

.test {
  width: 100%;
  height: 100%;
}

.section {
}

.iframe {
  width: 100%;
  height: 900px;
}

.modal-body {
  padding: 0%;
}

@media (max-width: 600px) {
  .iframe {
    height: 400px;
    width: 100%;
    font-size: 10px;
  }
}
