body {
    background-color: black;
    color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
}



.instagram-div {
    justify-content: start;
    width: 80%;
    margin: auto;
    /* display: flex;
    flex-direction: row; */

}